p {
    font-size: 14pt;
}
.checkout {
    background-color: chartreuse;
}
h2 {
padding-left: 100px;
padding-right: 100px;
}
article {
    background-color: blanchedalmond;
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
}